:root {
    --color-primary: #ffffff;
    --color-secondary: #6c757d;
    --font-size-base: 16px;
    --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --spacing-unit: 1rem;
}

body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-base);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
    background-color: #270101d9;
}



ul {
  display: flex;
  list-style-type: none; 
  padding: 0px;          
  margin: 0px;           
}

.nav-item {
  margin-right: var(--spacing-unit); 
  text-decoration: none;
}

